
data/MNIST/bigbigan/checkpoints/checkpoint_10.pth
data/MNIST/bigbigan/checkpoints/checkpoint_15.pth
data/MNIST/bigbigan/checkpoints/checkpoint_2.pth
data/MNIST/bigbigan/checkpoints/checkpoint_20.pth
data/MNIST/bigbigan/checkpoints/checkpoint_25.pth
data/MNIST/bigbigan/checkpoints/checkpoint_3.pth
data/MNIST/bigbigan/checkpoints/checkpoint_35.pth
data/MNIST/bigbigan/checkpoints/checkpoint_4.pth
data/MNIST/bigbigan/checkpoints/checkpoint_5.pth
data/FMNIST/bigbigan/checkpoints/checkpoint_10.pth
data/FMNIST/bigbigan/checkpoints/checkpoint_15.pth
data/FMNIST/bigbigan/checkpoints/checkpoint_25.pth
data/FMNIST/bigbigan/checkpoints/checkpoint_30.pth
data/FMNIST/bigbigan/checkpoints/checkpoint_35.pth

#ignore all files that contain -ubyte
*-ubyte
*-ubyte.gz

#ignore all pychace folders
data/FMNIST/bigbigan/checkpoints/checkpoint_20.pth
data/FMNIST/bigbigan/checkpoints/checkpoint_45.pth
data/FMNIST/bigbigan/checkpoints/checkpoint_5.pth
data/FMNIST/bigbigan/checkpoints/checkpoint_50.pth
*.png
data/MNIST_100DIM/bigbigan/logs/events.out.tfevents.1707259675.DESKTOP-PI8NTSF.213.0
data/MNIST_100DIM/bigbigan/logs/events.out.tfevents.1707259135.DESKTOP-PI8NTSF.155.0
data/MNIST_100DIM/bigbigan/logs/events.out.tfevents.1707258903.DESKTOP-PI8NTSF.110.0
data/MNIST_100DIM/bigbigan/logs/events.out.tfevents.1707258888.DESKTOP-PI8NTSF.65.0
data/MNIST_100DIM/bigbigan/logs/events.out.tfevents.1707258853.DESKTOP-PI8NTSF.20.0
data/MNIST_100DIM/bigbigan/logs/events.out.tfevents.1707257566.DESKTOP-PI8NTSF.3302.0
data/MNIST_100DIM/bigbigan/logs/events.out.tfevents.1707256742.DESKTOP-PI8NTSF.2027.0
data/MNIST_100DIM/bigbigan/logs/events.out.tfevents.1707253819.DESKTOP-PI8NTSF.279.0
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_5.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_40.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_4.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_35.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_30.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_3.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_25.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_20.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_2.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_15.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_10.pth
data/MNIST_100DIM/bigbigan/checkpoints/checkpoint_1.pth
data/MNIST/bigbigan/rec_img/org_img.png
data/MNIST/bigbigan/logs/events.out.tfevents.1707486911.DESKTOP-PI8NTSF.234.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707486850.DESKTOP-PI8NTSF.111.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707486702.DESKTOP-PI8NTSF.7416.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707486638.DESKTOP-PI8NTSF.24428.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707259675.DESKTOP-PI8NTSF.213.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707259135.DESKTOP-PI8NTSF.155.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707258903.DESKTOP-PI8NTSF.110.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707258888.DESKTOP-PI8NTSF.65.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707258853.DESKTOP-PI8NTSF.20.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707257566.DESKTOP-PI8NTSF.3302.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707256742.DESKTOP-PI8NTSF.2027.0
data/MNIST/bigbigan/logs/events.out.tfevents.1707253819.DESKTOP-PI8NTSF.279.0
data/MNIST/bigbigan/gen_img/ep40_step0_reconstructed.png
data/MNIST/bigbigan/gen_img/ep40_step0.png
data/MNIST/bigbigan/gen_img/ep30_step0_reconstructed.png
data/MNIST/bigbigan/gen_img/ep30_step0.png
data/MNIST/bigbigan/gen_img/ep20_step0_reconstructed.png
data/MNIST/bigbigan/gen_img/ep20_step0.png
data/MNIST/bigbigan/gen_img/ep10_step0_reconstructed.png
data/MNIST/bigbigan/gen_img/ep10_step0.png
data/MNIST/bigbigan/gen_img/ep0_step0_reconstructed.png
data/MNIST/bigbigan/gen_img/ep0_step0.png
data/MNIST/bigbigan/checkpoints/checkpoint_40.pth
data/MNIST/bigbigan/checkpoints/checkpoint_30.pth
data/MNIST/bigbigan/checkpoints/checkpoint_1.pth
data/FMNIST/bigbigan/logs/events.out.tfevents.1707489070.DESKTOP-PI8NTSF.279.0
data/FMNIST/bigbigan/logs/events.out.tfevents.1707486460.DESKTOP-PI8NTSF.5472.0
data/FMNIST/bigbigan/logs/events.out.tfevents.1707385318.DESKTOP-PI8NTSF.40.0
data/FMNIST/bigbigan/logs/events.out.tfevents.1707253299.DESKTOP-PI8NTSF.202.0
data/FMNIST/bigbigan/gen_img/ep0_step0_reconstructed.png
data/FMNIST/bigbigan/gen_img/ep0_step0.png
data/FMNIST/bigbigan/checkpoints/checkpoint_20.pth
data/CIFAR10/bigbigan/logs/events.out.tfevents.1707555024.DESKTOP-PI8NTSF.19964.0
data/CIFAR10/bigbigan/logs/events.out.tfevents.1707507138.DESKTOP-PI8NTSF.324.0
data/CIFAR10/bigbigan/checkpoints/checkpoint_5.pth
data/CIFAR10/bigbigan/checkpoints/checkpoint_10.pth
data/CIFAR10/bigbigan/checkpoints/checkpoint_15.pth
